<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.igor.ceo-operating-brief</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{NODE}}</string>
        <string>{{REPO}}/tools/ceo-operating-brief.js</string>
        <string>--json</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StartInterval</key>
    <integer>86400</integer>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{HOME}}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{HOME}}/Library/Logs/ceo-operating-brief.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/Library/Logs/ceo-operating-brief.log</string>
</dict>
</plist>
