<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.igor.react-native-newsletter-ingest</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{NODE}}</string>
        <string>{{REPO}}/tools/react-native-newsletter-ingest.js</string>
        <string>--limit</string>
        <string>12</string>
        <string>--top</string>
        <string>8</string>
        <string>--min-score</string>
        <string>45</string>
        <string>--decision-stack</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StartInterval</key>
    <integer>604800</integer>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{HOME}}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{HOME}}/Library/Logs/react-native-newsletter-ingest.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/Library/Logs/react-native-newsletter-ingest.log</string>
</dict>
</plist>
